<app-nav [CurrentComp]="'stats'"></app-nav>

<!-- <p *ngIf="indiaData">{{indiaData.recovered}}</p> -->
<main>

    <!-- all india status -->
    <div id="India" *ngIf="indiaData">

        <!-- heading -->
        <h2 style="text-align: center" class="header-font">All India Status</h2>

        <!-- covid data of all india ,using flex-->
        <div id="india-Data">
            <!-- numeric data -->
            <div id="allIndiaData" class="p-font">
                <p style="margin-top: 4vh;"><span>totalCases</span> : {{indiaData.totalCases}}</p>
                <p><span>activeCases</span> : {{indiaData.activeCases}}</p>
                <p><span>activeCasesNew</span> : {{indiaData.activeCasesNew}}</p>
                <p><span>recovered</span> : {{indiaData.recovered}}</p>
                <p><span>recoveredNew</span> : {{indiaData.recoveredNew}}</p>
                <p><span>deaths</span> : {{indiaData.deaths}}</p>
                <p><span>deathsNew</span> : {{indiaData.deathsNew}}</p>
            </div>

            <!-- chart visualization of india data -->
            <div id="allIndiaChart">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>

        <!-- last updated -->
        <p style="font-weight: 100;font-size: 12px;color:gray;margin-top: 1vh;">last updated :
            {{indiaData.lastUpdatedAtApify | date:'long'}}</p>

    </div>

    <!-- specific locations -->
    <div id="regional" *ngIf="indiaData">
        <h2 style="text-align: center" class="header-font">State wise status</h2>

        <select name="states" class="p-font user-select" [(ngModel)]="currentStateSelected" (click)="stateSelected()">
            <option *ngFor="let reg of indiaData.regionData" value="{{reg.region}}">{{reg.region}}</option>
        </select>

        <!-- covid data of all india state wise ,using flex-->
        <div id="india-Data" *ngIf="currentStateData">
            <!-- numeric data of selected state -->
            <div id="allIndiaData">
                <!-- current state name -->
                <p class="header-font" style="margin-bottom: 4vh;">{{currentStateData.region}}</p>

                <div class="p-font">
                    <p><span>total infected</span> : {{currentStateData.totalInfected}}</p>
                    <p><span>new infected</span> : {{currentStateData.newInfected}}</p>
                    <p><span>recovered</span> : {{currentStateData.recovered}}</p>
                    <p><span>new recovered</span> : {{currentStateData.newRecovered}}</p>
                    <p><span>deaths</span> : {{currentStateData.deceased}}</p>
                    <p><span>new deaths</span> : {{currentStateData.newDeceased}}</p>
                </div>
            </div>

            <!-- chart visualization of selected state data -->
            <div id="allIndiaChart">
                <canvas baseChart [datasets]="barChartState" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>

        <!-- district data begins -->
        <h2 class="header-font" style="text-align: center;margin-top: 4vh;">{{currentStateData.region}} district status
        </h2>

        <!-- district selection options -->
        <!-- <select *ngIf="currentStateDistricts.length>0" name="" id="district-selection" class="user-select p-font"
            [(ngModel)]="currentDistrictName" (click)="currentDistrictSelection()">
            <option *ngFor="let district of currentStateDistricts" value="{{district.name}}">{{district.name}}</option>
        </select> -->

        <!-- covid data of districts of currently selected state -->
        <div *ngIf="currentStateDistricts.length>0">

            <div id="my-table">
                <table>
                    <tr class="h-font">
                        <th>District</th>
                        <th>active</th>
                        <th>confirmed</th>
                        <th>deceased</th>
                        <th>recovered</th>
                    </tr>
    
                    <tr *ngFor="let district of currentStateDistricts" class="p-font">
                        <td>{{district.name}}</td>
                        <td>{{district.value.active}}</td>
                        <td>{{district.value.confirmed}}</td>
                        <td>{{district.value.deceased}}</td>
                        <td>{{district.value.recovered}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
</main>

<!-- <div *ngIf="covidData">
    <div *ngFor="let data of covidData | myJson;let i=index">
        {{data.state}}
    </div>
</div> -->