
<!-- navigation -->
<nav>
    <!-- nav-brand -->
    <a id="nav-brand">covid19</a>

    <!-- navigation links -->
    <div id="navigations">

        <ul id="nav-bar">
            <li class="nav-items">
                <a class="nav-links" [ngClass]="isHomeActive?'active':''" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-items">
                <a class="nav-links" [ngClass]="isStatsActive?'active':''" [routerLink]="['/stats']">Stats</a>
            </li>
        </ul>

    </div>
</nav>
